.profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  &__avatar {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2rem;
  }
  
  &__input_block {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &_form__errors {
    position: absolute;
    bottom: -22px;
  }

}

.profile__button {
  margin-top: 0;
}

@media (max-width: 576px) {
  .profile__avatar {
    width: 85%;
  }

  .profile__form {
    grid-template-columns: 1fr;
  }
}