.auth {
  &__navigation {
    cursor: pointer;
  }

  &__info {
    max-width: 15vw;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    transition: 0.3s ease;
     &:hover {
      color: #f1b600;
     }
  }
}

.reset_pass__active {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reset_pass__hide {
  display: none;
}
