.user_profile {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__name {
    text-align: center;
  }
  
  &__info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
