.unauthorized {
  display: flex;
  gap: 5rem;
  align-items: center;
  margin-top: 12%;
  margin-left: 10%;

  &__animation {
    width: 300px;
    height: 300px;
    animation: logo 15s infinite linear;
  }

  &__logo {
    width: 300px;
    height: 300px;
  }
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .unauthorized {
    flex-direction: column;
    gap: 3rem;

    &__animation {
      max-width: 300px;
      max-height: 300px;
    }
  }
}
