.edit_post_form {
  padding: 2rem;

  &__input {
    padding: 0.4rem 0.5rem;
  }

  &__textarea {
    padding: 0.4rem 0.5rem;
    resize: none;
    height: 5rem;
  }

  &__image {
    max-width: 25rem;
  }

  &__button {
    padding: 0.5rem;
  }
}
