.search {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 120px;
  width: 100%;
  padding: 0 33px 0 0;
  border-bottom: 2px solid #f1b600;
  height: 42px; 

  &__input {
    width: 100%;
    border-radius: 30px;
    border: 0px solid transparent;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    caret-color: #f1b600;
    background: transparent;

    &::placeholder {
      color: #7b8e98;
    }
  }

  &__btn {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    display: flex;

    svg {
      fill: #7b8e98;
      transition: 0.2s ease;

      &:focus {
        fill: #f1b600;
      }

      &:hover {
        fill: #f1b600;
      }
    }
  }
}
