.post {
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__button_back {
    display: inline-flex;
    align-items: center;
    color: #404040a3;
    cursor: pointer;
    transition: 0.1s ease;

    svg {
      height: 12px;
    }

    &:hover {
      color: #404040;
    }
  }

  &__edit {
    display: flex;
    gap: 2rem;
  }

  &__edit_icon {
    cursor: pointer;
    background: none;
    border: none;

    padding: 5px;
    svg {
      width: 26px;
      height: 26px;
      transition: all 0.3s ease;

      &:hover {
        fill: #f1b600;
        stroke: #f1b600;
      }
    }

    &_comments {

      

      padding: 0;
      margin-left: 10%;
      
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    align-items: center;
    box-shadow: 0 2px 20px #40404053;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 4rem;
  }

  &__title {
    font-size: 30px;
    margin: 0;
  }

  &__date {
    font-size: 13px;
  }

  &__author {
    cursor: pointer;

    &:hover img {
      box-shadow: 0 2px 20px #40404053;
    }
  }

  &__author_avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 14px;
    font-weight: 500;

    &_img_container {
      width: 3rem;
      height: 3rem;
      img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.15s ease;
      }
    }
  }

  &__author_about {
    font-size: 12px;
  }

  &__image {
    height: 60vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    box-shadow: 0 2px 20px #4040402f;
  }

  &__text {
    font-size: 18px;
    max-width: 80%;
    text-align: center;
    margin: 0;
    line-height: 1.8rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    color: #404040a3;
    margin: 0;
    padding: 0 4rem;
  }

  &__likes {
    display: flex;
    justify-content: center;
    gap: 2rem;
    box-shadow: 0 2px 20px #4040402f;
    padding: 2rem;
    div {
      text-align: center;
    }
  }

  &__like_info {
    color: #404040;
    cursor: pointer;
  }

  &__like_info_active {
    color: #e31b1b;
    cursor: pointer;

  }

  &__comments {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__comments_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__comments_author {
    display: flex;
    gap: 1rem;
    
  }
  
  &__comments_author_flex {
    padding: 1rem 2rem 1rem 1rem;
    box-shadow: 0 2px 20px #4040402f;
width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__comments_author_avatar {
    width: 50px;
    height: 50px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__comments_author_data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
  }

  &__comments_author_name {
    margin: 0;
  }

  &__comments_author_date {
    color: #a7a7a7;
    font-size: 14px;
  }

  &__comments_author_text {
    margin: 8px 0;
    font-size: 19px;
  }
&__comments_form{
  max-width: 50%;
  // background-color: #e31b1b;
}
  &__comments_textarea {
    padding: 1rem;
    resize: none;
  }

  &__comments_button {
padding: 0.5rem;
  cursor: pointer;}
}

.modal__containerr {
  width: 200px;
  height: 200px;
}
