.sort {
  box-shadow: 0 0 20px #40404036;
  padding: 1.3rem;
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 1rem;
  
  &__item {
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      transform: translateY(-3px);
    }
  }

  &__item_active {
    font-weight: 600;
  }

  &__container {
    position: relative;
    margin-top: 18px;
    cursor: pointer;

    &::after {
      content: '▽';
      position: absolute;
      top: 26%;
      right: 10%;
      width: 0px;
      height: 0px;
      font-size: 20px;
    }
  }

  &__mobile {
    padding: 0.7rem;
    width: 100%;
    appearance: none;
    border: none;
    box-shadow: 0 0 20px #40404036;
    outline: none;
    background: transparent;
    cursor: pointer;
  }
}
